## Question 1

1st b() call:

a = c(a) -> a = c(0) -> a = 0 + 2 = 2

2nd b() call:

a = c(a) -> a = c(2) -> a = 2 + 2 = 4

3rd b() call:

a = c(a) -> a = c(4) -> a = 2 + 2 = 6

Fianl value = 6

## Question 2

In [198]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File ' + file_name + ' not found.')

In [199]:
file_length('w3c.txt')

396

In [200]:
file_length('w3.txt')

File w3.txt not found.

## Question 3

In [202]:
class Marsupial:
    'class that represents a couple of dolls'
    
    def __init__(self, dolls_pouch = []): 
        self.dolls_pouch = dolls_pouch

    def put_in_pouch(self, doll):
        'adds a doll inside the pouch'
        self.dolls_pouch.append(doll)

    def pouch_contents(self):
        'shows content of the list'
        print(self.dolls_pouch)

In [29]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [203]:
class Kangaroo(Marsupial):
    'class that represents a kangaroo position'

    # Part a:
    dolls_pouch = []

    def __init__(self, x_value = 0, y_value = 0): 
        super().__init__()
        self.x = x_value
        self.y = y_value

    # Part b:
    def jump(self, dx, dy):
        'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy
    
    # Part c:

    def __str__(self):
        return 'I am a Kangaroo located at coordinates({}, {})'.format(self.x, self.y)

In [204]:
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates(0, 0)

In [37]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [38]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3, 0)

## Question 4

In [45]:
def collatz(x):
    if x == 1:
        print(1)
    elif x % 2 == 0:
        print(int(x))
        return collatz(x / 2)
    else:
        print(int(x))
        return collatz(3 *x + 1)

collatz(10)

10
5
16
8
4
2
1

## Question 5

In [297]:
def binary(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return str(binary(n // 2)) + str(n % 2)

binary(9)

'1001'

## Question 6

In [287]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    startTags = []
    data = []
    ish1 = False
    ish2 = False
    ish3 = False
    ish4 = False
    ish5 = False
    ish6 = False

    def handle_starttag(self, tag, attrs):
        if tag == "h1":		
            self.ish1 = True
        elif tag == "h2":		
            self.ish2 = True
        elif tag == "h3":		
            self.ish3 = True
        elif tag == "h4":		
            self.ish4 = True
        elif tag == "h5":		
            self.ish5 = True
        elif tag == "h6":		
            self.ish6 = True

        self.startTags.append(tag) 

    def handle_data(self, data):
        if self.ish1:
            print(data)
        elif self.ish2:
            print(" " + data)
        elif self.ish3:
            print(" " * 2 + data)
        elif self.ish4:
            print(" " * 3 + data)
        elif self.ish5:
            print(" " * 4 + data)
        elif self.ish6:
            print(" " * 5 + data)

        self.data.append(data)

    def handle_endtag(self, tag):	
        if tag == "h1":		
            self.ish1 = False
        elif tag == "h2":		
            self.ish2 = False
        elif tag == "h3":		
            self.ish3 = False
        elif tag == "h4":		
            self.ish4 = False
        elif tag == "h5":		
            self.ish5 = False
        elif tag == "h6":		
            self.ish6 = False

In [289]:
infile = open('w3c.txt') 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

## Question 7

In [293]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def analyze(url, dep, inden):
    print('\n\nVisiting', url)           

    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks() 
    
    for i in range(0,dep):
        inden += 1
        print(inden * " " +  urls[i])

analyze('https://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

Visiting https://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  https://reed.cs.depaul.edu/lperkovic/test3.html

## Question 8

In [205]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: sqlparse in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.18)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pickleshare in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: backcall in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.10 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: traitlets>=4.2 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: wcwidth in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=0c8be15209c32277a44b0884084a352d606eafdbc7ba0d7b186456f144d2aaf5
  Stored in directory: /Users/Admin/Library/Caches/pip/wheels/46/60/6c/bb25d05df22906786206e901e9354bb3061061191116768bee
Successfully built prettytable
Installing collected packages: prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2

In [231]:
import sqlite3

con = sqlite3.connect('web.db')
# cur = con.cursor()
%load_ext sql
%sql sqlite:///web.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [239]:
%%sql
CREATE TABLE Weather
(
  City text, 
  Country text, 
  Season text,
  Temperature real,
  Rainfall real
)

 * sqlite:///web.db
Done.

[]

In [241]:
%%sql
INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite:///web.db
12 rows affected.

[]

In [246]:
%%sql
SELECT * FROM Weather

 * sqlite:///web.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### Part a

In [248]:
%%sql
SELECT Temperature FROM Weather;

 * sqlite:///web.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### Part b

In [251]:
%%sql

SELECT DISTINCT City
FROM Weather;

 * sqlite:///web.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### Part c

In [250]:
%%sql

SELECT *
FROM Weather
WHERE Country = "India";

 * sqlite:///web.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### Part d

In [252]:
%%sql

SELECT *
FROM Weather
WHERE Season = "Fall";

 * sqlite:///web.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### Part e

In [255]:
%%sql

SELECT City, Country, Season, AVG(Rainfall) AS average
FROM Weather
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400;

 * sqlite:///web.db
Done.

[('London', 'United Kingdom', 'Fall', 218.5),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

### Part f

In [261]:
%%sql

SELECT City, Country, AVG(Temperature) AS average
FROM Weather
WHERE Season = "Fall"
GROUP BY City, Country
HAVING AVG(Temperature) > 20
ORDER BY average ASC;

 * sqlite:///web.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

### Part g

In [258]:
%%sql

SELECT SUM(Rainfall) as total
FROM Weather
WHERE City = "Cairo";

 * sqlite:///web.db
Done.

[(27.6,)]

### Part h

In [259]:
%%sql

SELECT Season, SUM(Rainfall) as total
FROM Weather
GROUP BY Season;

 * sqlite:///web.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9

In [163]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [170]:
#part a
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [171]:
#part b
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [172]:
#part c
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [173]:
#part d
[[word.upper(), word.lower(), len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [174]:
#part e
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']